{% extends "base.twig" %}

{% block content %}

  {% if post %}

    <section>
      <div class="page-hero">
        <img class ="page-hero__image"  src="{{ post.meta('firm_lead_image') }}" alt="{{ post.meta('firm_lead_description') }}">
      </div>
      <div class="firm-copy">{{ post.meta('firm_lead_description') }}</div>
    </section>

    <section>
      {% if post.meta('member')%}
        {% for member in post.meta('member') %}
          <div class="member">
            <div class="member-image">
              <img class="member-image__image lazy" data-original="{{ member.member_image }}" wifth="300" height="300" alt="{{ member.member_name }}">
            </div>
            <div class="member-copy">
              <h2 class="member-copy__name">{{ member.member_name }}</h2>
              <h3 class="member-copy__title">{{ member.member_title }}</h3>
              <p class="member-copy__copy">{{ member.member_profile }}</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </section>

  {% endif %}

{% endblock %}
