{% extends "base.twig" %}

{% block content %}
  {% if post %}
    {#{ dump(post)}#} 
    <section class="home__hero">
      {% set hero_image = post.meta('hero_image') %}
      <img class="lazy hero__image" src="{{ hero_image.sizes.medium }}" data-src="{{ hero_image.sizes.large }}" data-srcset="{{ hero_image.sizes.large }}"  alt="{{ post.title }}" />
      <div class="home__logo">
        <img src="{{ post.meta('hero_logo')}}" alt="{{ post.title }}"/>
      </div>
    </section>

    <section id="startchange">
      <h2 class="title">{{ site.name }}</h2>
      <p class="copy">"{{ post.meta('hero_content')}}"</p>
    </section>

    {% set slider = post.meta('slider_home_page') %}
    {# {{ dump(slider)}} #}
    {% if post.meta('slider_home_page')%}
      <section>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            {% for slide in slider %}
              {# {{ dump(slide)}} #}
                <img class="lazy swiper-slide" src="{{ slide.slider_image.sizes.medium }}" data-src="{{ slide.slider_image.sizes.large }}" data-srcset="{{ slide.slider_image.sizes.large }}" alt="{{ slide.slider_image.name }}" >
                <p>{{ item.slider_name }}</p>
            {% endfor %}
          </div>
        </div>
      </section>
    {% endif %}

    <section>
      <h2 class="title">{{ post.meta('about_title') }}</h2>
      <p class="copy">{{ post.meta('about_content') }}</p>
    </section>

    <section>
      <div class="gallery__copy">
        <h2>Featured</h2>
        <a> View Projects</a>
      </div>
      {% if projects %}
        {% include 'partial/featured-projects.twig' %}
      {% else %}
        {% include 'partial/not-projects-found.twig' %}
      {% endif %}
    </section>

  {% endif %}

{% endblock %}
