{% extends "base.twig" %}

{% block content %}
  {% if post %}
    <section >
      <div class="hero">
        {% set hero_image = post.meta('project_image') %}
        <img class="lazy hero__image" src="{{ hero_image.sizes.medium }}" data-src="{{ hero_image.sizes.large }}" data-srcset="{{ hero_image.sizes.large }}"  alt="{{ post.title }}" />
      </div>
      <div class="pagination">
        <a class="pagination__links" href="/projects">View all </a>
        <a class="pagination__links" href="{{ post.next.link }}">Previous </a>
        <a class="pagination__links" href="{{ post.prev.linkk }}" >Next </a>
      </div>
    </section>
    <section>
      <h2 class="title"> {{post.title}}</h2>
      <p class="copy">{{post.meta('project_description')}}</p>
    </section>
  {% endif %}
{% endblock %}



